@page
@model SuccessModel
@{
    ViewData["Title"] = "Success Page";
}

<h1 class="d-flex justify-content-center">Payment Successed!</h1>

<div class="row">
    <div class="col-12" >
        <div class="d-flex justify-content-center">
            <div>
                <br />
                <h5 style="text-align:center">Apple Mackbook Air 2023</h5>        
                <h6 style="text-align:center"><strong>Price : 2,80,500 TK</strong></h6>
           
                <img src="/Pictures/Best-MacBook-1-920x518.jpg" style="width:500px; height:280px; " />                       
            </div>
       </div>
    </div>
</div>
